.content {
	font-size: 3rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.image {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70rem;
	height: 40rem;
	border: 2px solid var(--border-color);
	border-radius: 0.5rem;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.image:hover {
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.13);
}

img {
	width: calc(100% + 1rem);
	height: auto;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
}
