@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");

:root {
	--border-color: #363636;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
	background: #1e1e1e;
	font-size: 1.2rem;
	color: #6c7983;
}

header {
	padding: 1rem 4rem;
	width: 100%;
	min-height: 10vh;
	background: #262626;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 4rem;
	font-weight: 800;
	background: linear-gradient(
		52deg,
		rgb(210, 31, 67) 30%,
		rgb(18, 199, 199) 70%
	);
	/* This is important */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

header .input {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	font-size: 1.6rem;
	min-height: 90vh;
	padding: 1rem 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-solid {
	font-size: 1.8rem;
}

.input label {
	font-size: 1.8rem;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	border: 2px solid var(--border-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
